EXPO_PUBLIC_AZURE_CLIENT_ID=your-client-id
EXPO_PUBLIC_AZURE_REDIRECT_URI=msauth.com.ziandev.swissazureauthmobile://auth
EXPO_PUBLIC_AZURE_AUTHORITY=https://login.microsoftonline.com/your-tenant-id
EXPO_PUBLIC_BACKEND_BASE_URL=http://localhost:3001
